@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-poppins bg-[#f8f8f8];
  }
}

@layer components {
  /* BUTTON */
  .btn-primary {
    @apply inline-flex justify-center w-full md:w-auto px-10 py-3 bg-primary text-white font-semibold rounded-md hover:bg-emerald-600 transition duration-300 ease-out;
  }

  /* CARD */
  .card {
    @apply shadow-md rounded-2xl flex items-center px-5 py-6 bg-white;
  }
}

@layer utilities {
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #f8f8f8;
}
::-webkit-scrollbar-thumb {
  background: #bfbfbf;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #718096;
}
