@import "tailwindcss";
@config '../tailwind.config.js';

@theme {
   --color-primary: #6575ed;
   --color-background: #f1f1f1;
   --font-poppins: Poppins, serif;
}

@layer base {
   body {
      @apply bg-white font-poppins;
   }
}

@layer components {
   .card {
      @apply inline-flex rounded-2xl bg-white px-5 py-6 shadow-md;
   }
   .chart {
      @apply h-full rounded-2xl bg-white px-5 py-6 shadow-md;
   }
}
